.joinTelegram{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 150px 0;
    position: relative;
}

.joinTelegramContainer{
    max-width: 1440px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.joinTelegramContent{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionMark{
    width: 130px;
    height: 205px;
}

.joinTelegramWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.joinTelegramImages{
    display: flex;
    width: 45%;
    position: relative;
}
.joinTelegramImage2{
    width: 100%;
    object-fit: cover;
}

.joinTelegramText img{
    max-width: 300px;
}

.joinTelegramText h2{
    font-size: 3rem;
}

.joinTelegramText h3{
    font-size: 1.5rem;
    font-weight: 500;

}

.joinTelegramText{
    margin-bottom: 104px;
}

.cursorCustom{
    position: relative;
    z-index: 5000;
}

.questionMark:hover{
    width: 205px;
    height: 205px;
}

.telegramYellowBg{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0px;
    overflow: hidden;
    height: 1100px;
    width: 1000px;
}

@media screen and (max-width: 882px){
    .joinTelegramContainer{
        flex-direction: column-reverse;
        align-items: center;
    }
    .joinTelegramContent{
        width: 100%;
    }
    .joinTelegramImages{
        width: 90%;
    }
    .joinTelegramText h2{
        font-size: 2.5rem;
    }
}
