.partnerForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.formContainer{
    display: flex;
    max-width: 1160px;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.formButtons{
    display: flex;
    justify-content: space-between;

}

.formButton{
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 10px;
    max-width: 558px;
    width: 48%;
    background-color: #C8FA60;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

.formButton:hover{
    background-color: #dcf6a4;
}

.formTitle{
    font-size: 3rem;
    margin-bottom: 90px;
}

.partnerFacts{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.partnerFactsContainer{
    max-width: 1182px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.partnerFactsTitle{
    font-size: 3rem;
    margin-bottom: 124px;
    text-align: center;
}

.partnerFact{
    display: flex;
    align-items: center;
    gap: 48px;
    font-size: 1.5rem;
    justify-content: flex-start;
}

.partnerFact:nth-of-type(even){
    justify-content: flex-end;
}

.question{
    display: flex;
    justify-content: center;
    padding: 100px;
}

.questionContainer{
    max-width: 1182px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.questionTitle{
    position: relative;
    font-size: 3rem;
    width: 600px;
    margin-bottom: 40px;
}

.questionTitle img{
    width: 350px;
    position: absolute;
    right: 0;
    bottom: -20px;
}

.email{
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
    color: black;
}
.email:hover{
    text-decoration: underline;
}

.email img{
    width: 16px;
    height: 28px;
    position: absolute;
    margin-left: 10px;
    bottom: 5px;
}

@media screen and (max-width: 1160px){
    .partnerForm{
        padding-left: 20px;
        padding-right: 20px;
    }
    .partnerFacts{
        padding-left: 20px;
        padding-right: 20px;
    }
}


@media screen and (max-width: 809px){
    .question{
        padding: 50px 20px;
    }
    .questionTitle{
        width: auto;
    }

}

@media screen and (max-width: 677px) {
    .formButtons{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .formButton{
        width: 100%;
    }
}

@media screen  and (max-width: 583px){
    .partnerFact:nth-of-type(even) h3{
        order: 1;
    }
    .partnerFact{
        flex-direction: column;
        text-align: center;
        gap: 2px;
        margin-bottom: 50px;
    }
    .partnerFactsTitle{
        margin-bottom: 50px;
    }

}

