.welcome{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: start;
}

.welcomeBg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 310px;
    height: 284px;
    filter: blur(300px);
    background: #C1F25B;
    transform: translate(-50%, -50%);
}

.welcomeContent{
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: left;
    position: relative;
    align-items: center;
}

.welcomeText{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.mainImg{
    max-width: 730px;
    width: 50%;
    margin-top: -50px;
    object-fit: cover;
}


/*Form*/
.contactForm{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.67);
    padding: 13px 16px;
    border: 14px solid rgba(217, 217, 217, 0.12);
    margin-bottom: 33px;
}

.countriesSelect{
    width: 33%;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    color: #808080;
    background: rgba(179, 219, 242, 0.3);

}

.emailInput{
    padding: 14px 13px;
    font-size: 1.2rem;
    width: 62%;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.35);
    border: none;

}

.submitBtn{
    font-size: 2rem;
    padding: 15px 47px;
    border-radius: 10px;
    background: #C8FA60;
    font-weight: 500;
    align-self: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.submitBtn img{
    width: 40px;
}

.clickMe{
    max-width: 375px;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
}

.arrowIcon{
    width: 25px;
    position: absolute;
    left: -50px;
    top: 20px;
}

.clickMeText{
    position: absolute;
    left: -150px;
    text-align: center;
    transform: rotate(-2.22deg);
}

/*Text*/
.welcomeTitle{
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    font-size: 4.375rem;
    line-height: 5.469rem;
    margin-bottom: 25px;
}

.welcomeTitle p{
    display: inline-block;
}

.welcomeSubtitle{
    font-family: 'Lexend', sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.welcomeSubtitle h2{
    font-size: 1.5rem;
    line-height: 2rem;
}
.instantWord{
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.instantWord img{
    position: absolute;
    top: -20%;
    left: -10%;
    z-index: -1;
    transform: scale(1.05);
    overflow: hidden;
}

.typingWords{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
    margin-left: 5px;
}


.popup{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup div{
    background-color: white;
    padding: 50px 100px;
}

.welcomeGreenBg{
    position: absolute;
    left: 0;
    z-index: -1;
}

@media screen and (max-width: 1243px) {
    .welcomeTitle {
        margin-top: 70px;
    }
    .welcomeGreenBg{
        width: 60%;
    }
}
@media screen and (max-width: 979px) {
  .welcomeContent{
      flex-direction: column-reverse;
      align-items: center;
      text-align: center;
      gap: 50px;
  }
    .welcomeText{
        width: 90%;
        align-items: center;
    }

  .contactForm{
      margin: 0 auto;
      margin-bottom: 33px;
      max-width: 100%;
      flex-direction: column;
      gap: 15px;
  }

  .countriesSelect{
      padding: 15px 10px;
      width: 100%;
      text-align: left;

  }
    .emailInput{
        padding: 25px 20px;
        width: 100%;
    }

  form{
      width: 100%;
  }

  .mainImg{
      max-width: 100%;
      width: auto;
  }

  .welcomeTitle{
      font-size: 3.8rem;
  }
  .instantWord img{
      width: 110%;
      top: -5px;
      left: -10px;
  }
  .submitBtn{
      padding: 15px 25px;
  }
}


