.description{
    max-width: 1119px;
    margin: 0 auto;
    margin-top: 212px;
}

.title{
    display: flex;
    font-size: 2.5rem;
    align-items: center;
}

.title h2{
    margin-right: 25px;
}

.facts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.factsItem{
    display: flex;
    align-items: center;
    gap: 63px;
    margin: 45px;
}

.factsItem:first-of-type{
    margin-top: 0;
}
.factsItem:last-of-type{
    margin-bottom: 0;

}

.factsDesc{
    padding: 39px 28px;
    border-radius: 30px;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    font-size: 1.5rem;
    max-width: 488px;
    text-align: left;
}

.phoneImg{
    width: 32%;
    min-width: 389px;
}

@media screen and (max-width: 1214px){
    .description{
        padding: 0 50px;

    }
}
@media screen and (max-width: 1125px){
    .description{
        margin-top: 50px;
    }
    .facts{
       flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }
    .factsDesc{
        width: 100%;
    }
    .factsItem{
        margin: 50px 0;
    }
}
@media screen and (max-width: 560px){
    .description{
        padding: 0 25px;
    }
    .title{
        font-size: 2rem;
        position: relative;
    }
    .title img{
        position: absolute;
        right: 0;
        top: 15px;
    }
}@media screen and (max-width: 485px){
    .factsItem{
        flex-direction: column;
    }
    .factsDesc{
        text-align: center;
        padding: 39px 10px;
    }
    .phoneImg{
        min-width: 310px;
    }
}



