.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 29px 0;
    position: relative;
}

.container{
    max-width: 1283px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerLogo{
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    color: #000000;
    z-index: 0;
}

.headerLanguages{
    display: flex;
}

.headerLanguagesBtn{
    width: 60px;
    height: 30px;
    border-radius: 20px;
    font-size: 0.875rem;
    background-color: transparent;
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-out;
}

.headerLanguagesBtn:hover{
    background-color: #C1F25B;
}

.headerLanguagesBtn:first-of-type{
    margin-right: 12px;
}

.nav{
    display: flex;
    align-items: center;
}

.menu{
    font-family: Lexend, sans-serif;
    font-weight: 300;
    margin-right: 39px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: 300;
}

.menu a:hover{
    font-weight: 500;
}

.menu a:first-of-type{
    margin-right: 23px;
}

@media screen and (max-width: 1440px) {
    .header{
        padding: 29px 30px;
    }
}@media screen and (max-width: 588px) {
    .menu{
        position: absolute;
        margin-top: 120px;
        left: 25%;
        font-size: 1.3rem;
        z-index: 1000;
    }
}